/* ------------------------------------------------------------------------------ */
/* @extend  
/* ------------------------------------------------------------------------------ */
/* Un  @extend permet d'hériter des propriétés CSS d'un autre sélecteur           */
/* ------------------------------------------------------------------------------ */
/*
.small-uppercase{
    color: lightslategrey;
    font-size: 10px;
    letter-spacing: 0.1em;
    line-height: 12px;
    text-transform: uppercase;
  }
  
  .modal-background{
    @extend .small-uppercase;
  }
  
  .product-link{
    @extend .small-uppercase;
  }
  
  .image-pattern{
    @extend .small-uppercase;
  }
  */
  // le code css qui sera généré
  /*
  .small-uppercase,
  .modal-background,
  .product-link,
  .image-pattern{
    color: lightslategrey;
    font-size: 10px;
    letter-spacing: 0.1em;
    line-height: 12px;
    text-transform: uppercase;
  }
  */
/* ---------------------------------------------------------------------------- */
/* Différence avec les mixins                                                   */
/* ---------------------------------------------------------------------------- */
/* 
Il y a 2 différences:
La règle @extend n'a pas de paramètres. Les mixins en ont.
La règle @extend combine des sélecteurs. Les mixins non.
*/
/*
La liste des propriétés est simplement répétée autant de fois que le 
@include small-uppercase () est appelé.

Un  @extend est plus efficace, car il n'écrit les propriétés 
communes qu'une seule fois.
On peut optimiser @extend avec un «placeholder»
en précédent notre extension avec «%»
*/

%small-uppercase{
    color: lightslategrey;
    font-size: 10px;
    letter-spacing: 0.1em;
    line-height: 12px;
    text-transform: uppercase;
  }
  
  .modal-background{
    @extend %small-uppercase;
  }
  
  .product-link{
    @extend %small-uppercase;
  }
  
  .image-pattern{
    @extend %small-uppercase;
  }
  
  // le  css généré
  .modal-background,
  .product-link,
  .image-pattern{
    color: lightslategrey;
    font-size: 10px;
    letter-spacing: 0.1em;
    line-height: 12px;
    text-transform: uppercase;
  }

