.gallery-item {
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 16px;
    text-align: center;
    vertical-align: top;
    width: 100%;


    // Boucle pour énumérer les classes de gallery columns
    @for $i from 2 through 9 {
        .gallery-columns-#{$i} & {
            max-width: calc((100% - 16px * #{ $i - 1 }) / #{ $i });

            &:nth-of-type(#{$i}n+#{$i}) {
                margin-right: 0;
            }
        }
    }

    &:last-of-type {
        padding-right: 0;
    }
}