/*!
Auteur: Eddy Martin
Description: Gabarit de base permettant d'explorer Sass et différents techniques CSS
Version: 1.0.0
License: GNU General Public License v2 or later
*/

/*--------------------------------------------------------------
>>> LISTE DES FICHIERS SCSS IMPORTÉS 
----------------------------------------------------------------
# Variables
# mixin
# Layout
# Element
# Menu
# Pied-page
# Bouton
# Slider
# Anim Entete

----------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
@import "_variables.scss";
/* ------------------------------------------------------------
# Extend
-------------------------------------------------------------- */ 
@import "_extend.scss";
/* ------------------------------------------------------------
# Mixin 
-------------------------------------------------------------- */ 
@import "_mixin.scss";
/* ------------------------------------------------------------
# Element 
-------------------------------------------------------------- */ 
@import "_element.scss";
/* ------------------------------------------------------------
# Layout
-------------------------------------------------------------- */
@import "_layout.scss";
/* ------------------------------------------------------------
# Menu
-------------------------------------------------------------- */
@import "_menu.scss";
/*--------------------------------------------------------------
# Pied-page 
---------------------------------------------------------------- */
 @import "_pied-page.scss";
/*--------------------------------------------------------------
# Bouton 
---------------------------------------------------------------- */
 @import "_bouton.scss";
/* --------------------------------------------------------------
# Slider 
---------------------------------------------------------------- */
 @import "_slider.scss";
/*-------------------------------------------------------------- */

@import "_anim_entete.scss";
/*-------------------------------------------------------------- */

